[submodule "themes/book"]
	path = themes/book
	url = git://github.com/alex-shpak/hugo-book.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = git://github.com/panr/hugo-theme-terminal.git
