---
layout: default
---

{% include page-hero.html %}

<div class='o-wrapper'>

    <div class='o-grid'>
        <div class='o-grid__col o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--3-4-l'>
            <article class='c-post page'>
                <div class='c-content'>

                    {{ content }}

                </div>
            </article>
        </div>

        <div class="o-grid__col o-grid__col-4-4-s o-grid__col--1-4-m o-grid__col--1-4-l">
            <article class="c-post page">
                <div class="c-content">

                    {% if page.skills %}
                        <h4>Skills</h4>
                        <ul>
                            {% for skill in page.skills %}
                                <li>{{ skill }}</li>
                            {% endfor %}
                        </ul>
                        <hr>
                    {% endif %}

                    <h4>Contact</h4>
                    <ul>
                        <li><span class="e-type__protect">{{ page.email | default: site.email | split: "" | reverse | join: "" }}</span></li>
                        {% if site.social.github %}
                            <li><a href="{{ site.social.github.link }}">{{ site.social.github.text }}</a></li>
                        {% endif %}
                        {% if site.social.twitter %}
                            <li><a href="{{ site.social.twitter.link }}">{{ site.social.twitter.text }}</a></li>
                        {% endif %}
                        {% if site.social.linkedin %}
                            <li><a href="{{ site.social.linkedin.link }}">{{ site.social.linkedin.text }}</a></li>
                        {% endif %}
                    </ul>

                </div>
            </article>
        </div>
    </div>

</div>
